<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor</title>
</head>
<body background='https://image.freepik.com/fotos-gratis/textura-da-tela-azul_1253-76.jpg'>
<font color="white" font="Verdana">
<h1>Professor {{professor[0]}}</h1>
</font>
<table border="1" bgcolor="white">
        <tr>
            <th>Data de Nascimento</th>
            <th>Nome da Mãe</th>
            <th>Titulação</th>
        </tr>
        <tr>
            <td>{{professor[1]}}</td>
            <td>{{professor[2]}}</td>
            <td>{{professor[3]}}</td>
        </tr>

</body>
</html>